body {
    background: whitesmoke;
}
.text {
    font-family: Barlow;
    font-size: 30px;
    text-align: center;
    style: Thin;
    color: #363636;
}
.text-container {
    position: absolute;
    width: 40%;
    top: 35%;
    left: 30%;
    height: 50%;
}
.btn-color {
    background: #489e29;
}
.btn-color:hover {
    background: #266e26;
}
.center-position {
    position: absolute;
    width: 30%;
    top: 30%;
    left: 35%;
}
.submit-btn {
    position: absolute;
    width: 30%;
    top: 135%;
    left: 35%;
}
.form-container {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 30%;
    height: 50%;
}
#waiter {
    position: absolute;
    top: 40%;
    left: 48%;

}
#wait {
    border: #454852;
}
.marging {
    margin-top: 20px;
    margin-left: 20px;
}
.center-position-info {
    position: absolute;
    width: 30%;
    top: 80%;
    left: 38%;
}
.transparent {
    background: whitesmoke;
    border-style: none;
}
.ava {
    position: relative;
    height: 70px;
    width: 70px;
    top: 10%;
}
.item {
    height: 90px;
    padding-top: 10px;
    border-bottom: 0.5px solid #7a7a7a;

}
.text-left {
    font-family: Barlow;
    font-size: 30px;
    text-align: left;
    style: Thin;
    color: #363636;
    margin-top: 3%;
}
.position {
    font-family: Barlow;
    font-size: 15px;
    text-align: left;
    style: Thin;
    color: #363636;
}
.choice-container {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 30%;
    height: 50%;
}

/*Stars rate*/
.rate1 {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-top: 20px;
}
.rate1:not(:checked) > input {
    position:absolute;
    top:-0px;
}
.rate1:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate1:not(:checked) > label:before {
    content: '★ ';
}
.rate1 > input:checked ~ label {
    color: #79acc9;
}
.rate1:not(:checked) > label:hover,
.rate1:not(:checked) > label:hover ~ label {
    color: #79acc9;
}
.rate1 > input:checked + label:hover,
.rate1 > input:checked + label:hover ~ label,
.rate1 > input:checked ~ label:hover,
.rate1 > input:checked ~ label:hover ~ label,
.rate1 > label:hover ~ input:checked ~ label {
    color: #79acc9;
}

/*---------------------------------*/

.rate2 {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-top: 20px;
}
.rate2:not(:checked) > input {
    position:absolute;
    top:-0px;
}
.rate2:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate2:not(:checked) > label:before {
    content: '★ ';
}
.rate2 > input:checked ~ label {
    color: #79acc9;
}
.rate2:not(:checked) > label:hover,
.rate2:not(:checked) > label:hover ~ label {
    color: #79acc9;
}
.rate2 > input:checked + label:hover,
.rate2 > input:checked + label:hover ~ label,
.rate2 > input:checked ~ label:hover,
.rate2 > input:checked ~ label:hover ~ label,
.rate2 > label:hover ~ input:checked ~ label {
    color: #79acc9;
}

.rate3 {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-top: 20px;
}
.rate3:not(:checked) > input {
    position:absolute;
    top:-0px;
}
.rate3:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate3:not(:checked) > label:before {
    content: '★ ';
}
.rate3 > input:checked ~ label {
    color: #79acc9;
}
.rate3:not(:checked) > label:hover,
.rate3:not(:checked) > label:hover ~ label {
    color: #79acc9;
}
.rate3 > input:checked + label:hover,
.rate3 > input:checked + label:hover ~ label,
.rate3 > input:checked ~ label:hover,
.rate3 > input:checked ~ label:hover ~ label,
.rate3 > label:hover ~ input:checked ~ label {
    color: #79acc9;
}

.rate4 {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-top: 20px;
}
.rate4:not(:checked) > input {
    position:absolute;
    top:-0px;
}
.rate4:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate4:not(:checked) > label:before {
    content: '★ ';
}
.rate4 > input:checked ~ label {
    color: #79acc9;
}
.rate4:not(:checked) > label:hover,
.rate4:not(:checked) > label:hover ~ label {
    color: #79acc9;
}
.rate4 > input:checked + label:hover,
.rate4 > input:checked + label:hover ~ label,
.rate4 > input:checked ~ label:hover,
.rate4 > input:checked ~ label:hover ~ label,
.rate4 > label:hover ~ input:checked ~ label {
    color: #79acc9;
}

.rate5 {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-top: 20px;
}
.rate5:not(:checked) > input {
    position:absolute;
    top:-0px;
}
.rate5:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate5:not(:checked) > label:before {
    content: '★ ';
}
.rate5 > input:checked ~ label {
    color: #79acc9;
}
.rate5:not(:checked) > label:hover,
.rate5:not(:checked) > label:hover ~ label {
    color: #79acc9;
}
.rate5 > input:checked + label:hover,
.rate5 > input:checked + label:hover ~ label,
.rate5 > input:checked ~ label:hover,
.rate5 > input:checked ~ label:hover ~ label,
.rate5 > label:hover ~ input:checked ~ label {
    color: #79acc9;
}